

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;


}

/* Banner */
.mainHeader {

    display: flex;
    flex-direction: column;
    background-image: url(../img/bannerCell.jpg);
    align-items: center;
    background-attachment: fixed;
    width: 100%;
    height: 900px;

}

.heroBanner {
    margin-top: 50%;
    display: flex;
    order: 2;
    flex-direction: column;
    color: white;

    width: 90%;
    height: fit-content;
}

.buttonHire {
    background-color: #075982;
    display: flex;
    font-size: 25px;
    font-weight: 700;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    color: white;
    width: 200px;
    height: 60px;

    animation: fader 2s ease-in-out;
    animation-fill-mode:both; 
}

h2 {
    font-size: 3em;
    font-weight: 800;
}

.Plight {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}

/*Navigation*/

.sm-icons {
    flex-direction: row;
    padding: 2%;

  }

.navbar {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;


    
}


.sociallinks {
    padding: 2%;
}

#logon {
    background-image: url(../img/studioLogo.png);
    width: fit-content;
    height: fit-content;
}

/* Services */

.serviceContainer {
    display: grid;
    padding: 5%; 
}


.layoutB{
animation: fadeInRight 1s ease-in-out;
animation-fill-mode:both; 
}

.graphicsB{
    animation: fadeInRight 1s ease-in-out;
    animation-fill-mode:both; 
    }

.webB{
animation: fadeInRight 1s ease-in-out;
animation-fill-mode:both; 
}



.headingService {
    color: #075982;
    font-size: 1.8em;
    font-weight: 900;
    padding-top: 5%;

    animation: fader 2s ease-in-out;
    animation-fill-mode:both; 
}

/* About Me */

.card {
    background-color: dodgerblue;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    padding: 1rem;
    height: 10rem;
  }

.cards {
    
    max-width: 1200px;
    margin-left: 5%;
    display: grid;
    align-items: center;
    gap: 1rem;
  }

.myPhoto {
    margin-top: 10%;
    display: flex;
    align-items: center;
}


.download {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #075982;

    color: white;
    width: 250px;
    height: 40px;
}


.subAbout {


    height: fit-content;
    animation: fadeInUp 1s ease-in-out;
    animation-fill-mode:both; 
}



.buttonService{
    background-color: #075982;
    display: flex;
    border: 0;
    font-weight: 700;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    color: white;
    width: 220px;
    height: 60px;

    animation: fader 2s ease-in-out;
    animation-fill-mode:both; 
}



  .Pbold{
    display: flex;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-size: 0.9em;
    text-align: center;
    
}

/*Portfolio*/
.gal {
	

	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	  
	
	}	
	.gal img{ width: 100%; padding: 7px 0;}

    .row {
        padding-left: 5%;
        padding-right: 5%;
    }

    
#portfolio {
    font-family: 'Open Sans', sans-serif;
    padding-top: 20%;
    font-weight: 700;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galleryMenu {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallleryMenu:hover {
    color: blue;
}




/* Skills Tab*/
#skills {

    display: flex;
    padding-left: 5%;
        flex-direction: column;


}

.skillcard {
    padding: 5%;
    height: 5rem;
  }

.skillCards {
    max-width: 1200px;
    display: grid;
    gap: 1rem;
    animation: fadeInUp 1s ease-in-out;
    animation-fill-mode:both; 
  }

.Main_heading {
    color: #075982;
    padding: 10% 2% 5% 2%;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2em;
}



.Pboldnc {
    display: flex;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    font-size: 1.3em;
    animation: fadeInRight 1s ease-in-out;
animation-fill-mode:both; 

}

/* Progress Bars */

.barWeb, .barHTML, .barCSS, .barJavas, .barIllu, .barPhotos, .barIndes, .barCorel {
    font-size: 1.2em;
    padding-bottom: 3%;
    padding-top: 3%;
}
.webMeter { 
    height: 1.2em;
    width: 25em;
    position:static;
    overflow: hidden;
}

.webMeter span {
    display: block;
    height: 100%;
}

.webProgress {
    padding-bottom: 5% ;
    background-color: #00BFF2;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both; 
}

.htmlMeter { 
    height: 1.2em;
    width: 25em;
    position:static;
    overflow: hidden;
}

.htmlMeter span {
    display: block;
    height: 100%;
}

.htmlProgress {
    padding-bottom: 5% ;
    background-color: #28A34D;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both; 
}

.designMeter { 
    height: 1.2em;
    width: 25em;
    position:static;
    overflow: hidden;
}

.designMeter span {
    display: block;
    height: 100%;
}

.designProgress {
    padding-bottom: 5% ;
    background-color: #EF9900;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both; 
}

.javaMeter { 
    height: 1.2em;
    width: 25em;
    position:static;
    overflow: hidden;
}

.javaMeter span {
    display: block;
    height: 100%;
}

.javaProgress {
    padding-bottom: 5% ;
    background-color: #C94517;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both; 
}

.aiMeter { 
    height: 1.2em;
    width: 25em;
    position:static;
    overflow: hidden;
}

.aiMeter span {
    display: block;
    height: 100%;
}

.aiProgress {
    padding-bottom: 5% ;
    background-color: #D800EF;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both; 
}

.psMeter { 
    height: 1.2em;
    width: 25em;
    position:static;
    overflow: hidden;
}

.psMeter span {
    display: block;
    height: 100%;
}

.psProgress {
    padding-bottom: 5% ;
    background-color: #ec1e0f;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both; 
}

.idMeter { 
    height: 1.2em;
    width: 25em;
    position:static;
    overflow: hidden;
}

.idMeter span {
    display: block;
    height: 100%;
}

.idProgress {
    padding-bottom: 5% ;
    background-color: #ff066e;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both; 
}

.corelMeter { 
    height: 1.2em;
    width: 25em;
    position:static;
    overflow: hidden;
}

.corelMeter span {
    display: block;
    height: 100%;
}

.corelProgress {
    padding-bottom: 5% ;
    background-color: #0ac6ff;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both; 
}



.skillImage {
    display: none;
}

.skillbParagraph {
    animation: fadeInUp 1s ease-in-out;
    animation-fill-mode:both; 
}
/* Progress Bars END*/

/* Experience Section */


.skillContainer {
    display: grid;
    padding: 15% 5% 5% 5%;
}

.skillbImage {
    display: none;
}

.skillHeading {
    color: #075982;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.9em;
    animation: fader 2s ease-in-out;
    animation-fill-mode:both; 
}

.cellWrapper {
    display: flex;
    padding: 5px 5px;
    animation: fadeInRight 0.8s ease-in-out;
    animation-fill-mode:both;  
}
.cellIcon {

    background-color: #075982;
    padding: 0.5em 1.2em;
    width: 4em;
    height:4em;


}

.cellIcon::before {

    font-family: "FontAwesome";

    font-size: 2em;

    color: #ffffff;
    content: '\f3cd';

}

    .cell {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 1.2em;
    padding-left: 5%;
    width: 70%;
}

.mailWrapper {
    display: flex;
    padding: 5px 5px;
    animation: fadeInRight 1s ease-in-out;
animation-fill-mode:both; 
}


.mailIcon {

    background-color: #075982;
    padding: 0.5em 0.4em;
    width: 4em;
    height:4em;
}

.mailIcon::before {
    font-family: "FontAwesome";
    padding: 0.3em 0.3em;
    font-size: 2em;
    color: white;
    content: '\f0e0';
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 1.2em;
    padding-left: 5%;
    width: 70%;
}

/* Feedback*/

.feedback {
    height: fit-content;
    padding: 5% 3% 2% 5%;
}

.container-fluid {
    display: flex;
    

}


.contactCard {

    color: white;
    padding-right: 10%;
    height: 4rem;
}

.contactCards {
    max-width: 1200px;
    display: grid;
    gap: 1rem;
  }

.contact {
    margin: 5% 5% 5% 5%;

}

#userID, #email, #subject {
    padding-left: 1em;
    font-size: 1em;
    border: 1px solid black;
    color: #075982;

    font-weight: 400;
    width: 22em;
    height: 50px;
}

#comment {
    padding-left: 1em;
    padding-top: 5%;
    font-size: 1em;
    border: 1px solid black;
    color: #075982;

    font-weight: 400;
    width: 22em;
    height: 150px;
}

#formbtn {
    width: 150px;
    height: 50px;
    background-color: #075982;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    animation: fader 2s ease-in-out;
    animation-fill-mode:both; 
}

.submit {
    padding-top: 10em;

  
}

/*Footer Section */

footer {
    padding: 5% ;
    background-color: #075982;
    color: white;
}

.footerHeading {
    color: white;
    font-size: 1.5em;
    font-weight: 800;
    margin-right: 10%;
}

.footerUL {
    text-decoration: none;
    text-align: center;
}

.footerLI {
    list-style: none;
    text-align: center;
    padding-right: 20%;
    
}

.footerScontain {
    background-color: #EF9900;
}    

.boxcontain {
    display: grid;

}

.contentbox {
    width: 100%;

}


.logoB {
    width: 23em;
    text-align: center;

    border-bottom: 1px solid white;

}

.serviceB {
    width: 23em;
    text-align: center;
    border-bottom: 1px solid white;


}

.contactB {
    width: 23em;
    text-align: center;
    border-bottom: 1px solid white;



}

.copyB {
    display: flex;
    flex-direction: row;
    justify-content: center;
     width: 23em;
    text-align: center;

}

.socialfooterUL {
    display: flex;
    flex-direction: row;

    padding: 1% 0% 1% 4%;
    justify-content: space-between;

    list-style: none;
}

.socialfooterLI {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5%;
}

.pcopyright {
    padding-top: 1.8%;
}


/*Animations*/

@keyframes fader { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

@keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
  }

@keyframes fadeInUp{
    0% { opacity: 0;
  -webkit-transform: translate3d(0,15%,0);
  transform: translate3d(0,15%,0); }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  }

@keyframes fadeInRight{
    0% { opacity: 0;
  -webkit-transform: translate3d(5%,0,0);
  transform: translate3d(5%,0,0); }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  }



/*Tablet*/

@media only screen and (min-width: 600px) {

    .skillCards { grid-template-columns: repeat(2, 1fr); }

    .cards { 
        grid-template-columns: repeat(2, 1fr); 
        padding-top: 5%;
    }

    .mainHeader {
        background-image: url(../img/bannerMain.jpg);
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        align-items: center;
        width: 100%;
        height: 900px;
    
    }
    .heroBanner {
        margin-top: 40%;
    }

    /*Services*/

    #services {
        padding-top: 5%;
        padding-bottom: 5%;
 
    }

    .serviceContainer {
        display: grid;
        padding: 0% 5% 0% 5%; 
    }

    /*Portfolio*/
	.gal {
	
	
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
          
        
        }

        #portfolio {
            padding-top: 5%;
    
        }
    
/*Skills*/


.skillContainer{
    padding: 10% 2% 5% 5%;
}
.skillbHeading{

    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
.skillbParagraph{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
}
.skillbCell{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
.skillbMail{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
}

.cell {
    padding-left: 5%;
    width: 9em;
}

.mailWrapper {

    padding-right: 2em;
}

    .skillcard {
        margin-right: 20%;
    }

    .experCards { grid-template-columns: repeat(3, 1fr); 
        width: 100%;
        margin: 0 auto;
        padding: 5% 5% 5% 0%;
  
    }

/*Contact Form*/

#userID, #email, #subject {

    width: 15em;
    height: 50px;
}

#comment {
    width: 46em;
    height: 150px;
}

.contactCards { 
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr); 

}

.contactCard {
    grid-gap: 5px;
    width: 20px;


}

.feedback {
    padding-top: 0%;
}

.fname {
    grid-column: col 0;
    grid-row: row  1;
  
}

.femail {
grid-column: col 0;
grid-row: row 1;

}

.fsubject {
grid-column: col 0/ span 2;
grid-row: row  1;

}

.fcomment {

grid-column: col 0/ span 2;
grid-row: row 2;
}

.submit {
padding-top: 10em;
grid-column: col 0s;
grid-row: row 3 ;

}

/*Footer*/
.contentbox {
    width: 100%;

}


.logoB {
    width: 48em;
    text-align: center;

    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;

}

.serviceB {
    width: 24em;
    text-align: center;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

}

.contactB {
    width: 24em;
    text-align: center;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;


}



.copyB {
     width: 100%;


    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;

}

.pcopyright {
    padding-top: 0.4%;
}

.socialfooterUL {
    padding: 0% 0% 1% 4%;

}

}




/*PC*/

@media (min-width: 900px) {
        
    .cards { grid-template-columns: repeat(2, 1fr); }

    .skillCards { grid-template-columns: repeat(3, 1fr); }

    .experCards { grid-template-columns: repeat(4, 1fr); 
       display: grid;
       column-gap: 1%;
       margin: 0 auto;
    }

    .contactCards { grid-template-columns: repeat(3, 1fr); }

/*Navigation*/

    .sm-icons .nav-item {
        padding-right: 1em;
      }

      .navbar-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 80px;
    }
/*banner*/
      .animationtest {
        font-weight: 200;
        margin: 0.4em 0;
        font-size: 2em;
      }

    .heroBanner {
        padding-left: 16%;
        padding-right: 30%;
        margin-top: 10%;
    }

    h2 {
        font-size: 5em;

    }

    .Plight {

        font-size: 2em;

    }

    .Pbold {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    #btnHire {
        font-size: 2em;
        color: white;
        width: 250px;
        height: 60px;
    }



    /*Services*/

    #services {
        padding-top: 0%
   
    }

    .buttonService{
        width: 250px;

    }

    .headingService{
        padding-top: 2%
    }
    
    /*Anout ME*/
     .cards {
        max-width: 100%;
        padding: 0% 18% 0% 16%;

     }


     .row{
        padding: 2% 18% 0% 19%;
     }

     /*Skills*/

     #skills {
        max-width: 100%;
        padding: 2% 20% 0% 19%;
     }


     .web {
        grid-column: col 0;
        grid-row: row 0;
     }

     .html {
        grid-column: col 0;
        grid-row: row 1;
     }

     .design{
        grid-column: col 0;
        grid-row: row 2;
     }

     .java {
        grid-column: col 0;
        grid-row: row 0;
     }

     .ai {
        grid-column: col 0;
        grid-row: row 1;
     }

     .ps {
        grid-column: col 0;
        grid-row: row 2;
     }

     .id {
        grid-column: col 0;
        grid-row: row 3;
     }

     .corel {
        grid-column: col 0;
        grid-row: row 3;
     }

     .skillcards{
        padding-right: 10%;
     }
     .image {
        display: grid, block;
        grid-column: col 0;
        grid-row: row 0/ span 3;
     }

     .barWeb, .barHTML, .barCSS, .barJavas, .barIllu, .barPhotos, .barIndes, .barCorel {

        padding-bottom: 0%;
        padding-top: 0%;
    }



    .skillImage {
        display: block;
        animation: fadeInUp 1s ease-in-out;
        animation-fill-mode:both; 
 
    }

    .skillMain {
        animation: fader 2s ease-in-out;
        animation-fill-mode:both; 
    }
    
    .skillContainer{
        padding: 8% 18% 0% 18%;
    }

    .skillbImage {
        display: block;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 6;

        animation: fader 2s ease-in-out;
        animation-fill-mode:both; 
    }

    .skillbHeading{
    
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .skillbParagraph{
        margin-top: 3%;
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .skillbCell{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .skillbMail{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }


    /*Client Feedback*/

      .feedback {
        margin: 0 auto;
        padding: 5% 20% 0% 19%;
      }
    
      /*Contact Form*/
    .contact {
        padding: 0% 15% 0% 15%;
    }

    #userID, #email, #subject {
        
        width: 23em;
    }
    
    #comment {
        padding-left: 1em;

        padding-top: 5%;
        font-size: 1em;
        border: 1px solid black;
        color: #075982;
    
        font-weight: 400;
        width: 71em;
        height: 150px;
    }
/*Footer*/
    .boxcontain {
        justify-content: center;
        width: 70%;
        margin-left: 15%;

    }
    
.contentbox {
    width: 100%;


}


.logoB {
    width: 100%;
    text-align: center;

    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;

}

.serviceB {
    width: 30em;
    text-align: center;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

}

.contactB {
    width: 30em;
    text-align: center;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;


}


.copyB {
     width: 100%;


    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;

}






  .serviceContainer {
    padding: 0% 20% 0% 20%;
    margin: 0 auto;
    height: 20em;
  }
 .layoutB {
    margin-right: 5%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
 }
 
 .graphicsB {
    margin-right: 5%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
 }

 .webB {

    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
 }

 .pcopyright {
    padding-top: 0.3%;
}

 .socialfooterUL {
    padding: 0% 0% 1% 4%;

}




}